<div style="text-align: center;">
  <h1>
    {{title}}
  </h1>
  <input type="number" name="num1" [(ngModel)]="num1">
  <input type="number" name="num2" [(ngModel)]="num2">
  <br><br>
  <button (click)="add()">Saberi (+)</button> 
  <button (click)="sub()">Oduzmi (-)</button>
  <button (click)="multiply()">Pomnoži (*)</button>
  <button (click)="divide()">Podeli (/)</button>
  <br>

  <h3>Rezultat: {{num3}}</h3>
  
  <img width="200" alt="Calculator" src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-calculator-digital-calculator-illustration-image_1216297.jpg">
  <br>



</div>

<router-outlet></router-outlet>